<div class="jumbotron">
	<h1>Super awesome IAT 222 project!</h1>
	<p class="lead">We are Team TWOTWOTWO, and this site is for our group project in IAT 222. You can read about our information in the <%= link_to "About", about_path %> page, or just check out our project by clicking on the button below.</p>
	<%= link_to "Check it out", projects_path, class: 'btn btn-large btn-success' %>
</div>

<hr>

<div class="row-fluid marketing">
	<div class="span6">
		<h4>Interactions</h4>
		<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

		<h4>Subheading</h4>
		<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

		<h4>Subheading</h4>
		<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	</div>

	<div class="span6">
		<h4>Physical installations</h4>
		<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

		<h4>Subheading</h4>
		<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

		<h4>Subheading</h4>
		<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	</div>
</div>