<div class="jumbotron">
	<div class="row-fluid marketing">
		<h1 style="font-size: 4em">Artsy butterfly project</h1>
		<h4>We are Team TWOTWOTWO. This is our project website.</h4>
		<div id="carousel" class="carousel slide">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item"><img src="http://placehold.it/700x300" alt=""></div>
		    <div class="item"><img src="http://placehold.it/700x300" alt=""></div>
		    <div class="item"><img src="http://placehold.it/700x300" alt=""></div>
		  </div>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>

<hr>
	<p class="lead">For more information, please check out our <%= link_to "about page", permalink("about") %> or click the link bellow for more details on the project.</p>
	<%= link_to "Check out the project", permalink("project"), class: 'btn btn-large btn-success' %>
	<!-- <div class="span6">
		<h4>Interactions</h4>
		<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

		<h4>Subheading</h4>
		<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

		<h4>Subheading</h4>
		<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	</div>

	<div class="span6">
		<h4>Physical installations</h4>
		<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

		<h4>Subheading</h4>
		<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

		<h4>Subheading</h4>
		<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
	</div> -->
</div>